        <div id='up_row' class='updn-row'>
        <button class="btn btn-default" id="up_but"><span class='glyphicon glyphicon-chevron-up'/></button>
        page <%=page%>/<%=nbpage%>
        </div>
  <table id="princ" class="mytable">
        <th>index</th>
        <th class="coldate">Date</th>
        <th>Compte source</th>
        <th>Compte destination</th>
        <th>Moyen</th>
        <th>Catégorie</th>
        <th>Commentaire</th>
        <th>Prix</th>
        <th></th>
        <th>Solde</th>
    <% if(ord) { %>
	    <%= new EJS({
	  url:'/templates/line.html.ejs'}).render({
      style:'',comptes:comptes,moyens:moyens,tab:newline,categories:categories,
       tabid:'new', locdate:locdate
     })%>
    <% } %>
    <% var cnt=1 %>
    <% for(var i=0;i<entries.length;i++ ) { var tab=entries[i]; if(tab!=null) {%>
	    <%= new EJS({
	  url:'/templates/line.html.ejs'}).render({
      style:(cnt%2==0 ? 'paire':'impaire'),comptes:comptes,moyens:moyens,tab:tab,
      categories:categories, tabid:tab.id, locdate: locdate, solde:soldes[i], specid:specid
    })%>
      <% cnt=1-cnt %>
    <% }} %>
    <% if (!ord) { %>
	    <%= new EJS({
	  url:'/templates/line.html.ejs'}).render({
      style:'',comptes:comptes,moyens:moyens,tab:newline,categories:categories,
       tabid:'new', locdate: locdate
     } )%>
    <% } %>
    <tr><td/><td/><td/><td/><td/><td/><td/><td colspan=2 style="text-align:right;">Solde Pointé&nbsp;:&nbsp;</td>
    <td id="soldepointe"><%= solde_p %></td></tr>
  </table>
        <div id='dn_row' class='updn-row'>
        <button class="btn btn-default" id="dn_but"><span class='glyphicon glyphicon-chevron-down'/></button>
        page <%=page%>/<%=nbpage%>
        </div>
