  <tr data-change="" class="<% if (typeof(specid)!='undefined' && tabid==specid){ %>special<% }else{ %><%= style %><% } %>" id="rw<%= tabid %>">
      <td>
	<input name="id" type="text" value=<%= tabid %> readonly size="3" class="form-control form-control-sm">
	<a id="<%= tabid %>"></a></td>
      <td>
        <div class="input-group">
	<input name="date" class="form-control" type="text" id="dat<%= tabid %>" value="<%= tab.date %>"
        data-provide="datepicker" data-date-format="<%= locdate %>" autocomplete="off" data-myblur="" >
    <span class="input-group-btn">
    <button class="btn btn-default monbutton" data-settoday=""><span class="glyphicon glyphicon-star"/></button>
  </span>
  </div>
    </td>
	<td id="x<%= tabid %>">
    <%= JST['views/dodropbox']({
	  na:'cp_s',z0:false,sele:tab.cpS_id==null?-1:tab.cpS_id,
    add:'',add2:tabid,res:comptes
  })%>
	</td>
	<td>
    <%= JST['views/dodropbox']({
	  na:'cp_d',z0:'--------',sele:tab.cpD_id==null?-1:tab.cpD_id,
    add:'',add2:tabid,res:comptes
  })%>
	</td>
	<td>
    <%= JST['views/dodropbox']({
	  na:'moy',z0:'----',sele:tab.moyen_id==null?-1:tab.moyen_id,
    add:'', add2:tabid,res:moyens
  })%>
	</td>
	<td>
    <%= JST['views/dodropbox']({
	  na:'cat',z0:'--------',sele:tab.category_id==null?0:tab.category_id,
    add:'',add2:tabid,res:categories
  })%>
	</td>
	<td>
	  <input name="com" type="text" value="<%= tab.com %>" data-change="rw<%= tabid %>"
    class="form-control typeahead"
    <% if (tabid=='new'){ %> id="my_autocom"<% } %>></td>
	  <td>
	    <input id="pr<%= tabid %>" name="pr" type="text" value="<%= tab.pr/100 %>"
       class="form-control price"
       size=7

       data-dblclick=""
       autocomplete="off">
       </td>
	  <td>
	    <input id="pt<%= tabid %>" name="pt" class="check" type="checkbox"

      <% if (tab.poS==1){ %>checked<% } %>>
      </td>
	  <td class="solde" id="so<%= tabid %>"><%= typeof(solde)=='number' ? solde : '' %></td>
	  <td>
	  <button class="btn btn-default monbutton" name="duploradd">
	      <span class="icobutton addbutton glyphicon glyphicon-plus"/></button></td>
	  <td>
	      <button class="btn btn-default monbutton"
        name="supporclear" type="reset">
	      <span class="icobutton delbutton glyphicon glyphicon-minus"/></button></td>
    </tr>
